.header {
  position: relative;
  height: 112px;
  background-color: #fff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  .flex-wrap {
    padding-top: rem(8px);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: rem(37px);
  }
  &__link {
    position: relative;
    opacity: 0.6;
    color: $text-color2;
    text-transform: uppercase;
    font-size: rem(14px);
    font-weight: 600;
    &::after {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 0;
      opacity: 0;
      display: block;
      width: 100%;
      height: 4px;
      background: $gradient;
    }
    &:hover, &:focus {
      opacity: 1;
    }
    &_current {
      opacity: 1;
      &::after {
        opacity: 1;
      }
    }
  }
}

.profile {
  width: 290px;
  display: flex;
  justify-content: space-between;
}

.profile-info {
  position: relative;
  width: 177px;
  padding: 0 rem(22px) 0 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    font-size: rem(16px);
    letter-spacing: rem(-0.5px);
  }
  &-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &__btn {
    position: absolute;
    right: 0;
    opacity: 0;
    &:checked {
      & ~ .profile-menu {
        height: 177px;
      }
    }
    & ~ label {
      position: absolute;
      right: -6px;
      display: block;
      width: 16px;
      height: 16px;
      cursor: pointer;
      background: url("../assets/img/arrow-icon.svg");
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  display: block;
  width: 177px;
  height: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(#000, .2);
  transition: height 0.2s linear;
}

.options {
  display: flex;
  &__link {
    display: inline-block;
    width: 32px;
    height: 32px;
    &_notification {
      background: url("../assets/img/bell-icon.svg") center / cover no-repeat;
    }
    &_share {
      background: url("../assets/img/share-icon.svg") center / cover no-repeat;
    }
    &_medium {
      background: url("../assets/img/medium-icon.svg") center / cover no-repeat;
    }
  }
}

.add-btn {
  position: absolute;
  right: calc(50% - 586px);
  bottom: -32px;
  width: 64px;
  height: 64px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: url("../assets/img/plus-icon.svg") center / auto no-repeat, $gradient;
  transition: all 0.3s ease;
  &:hover, &:focus {
    box-shadow: 0 0 5px #F16161;
  }
}
