.header {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 112px;
  background-color: #fff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  .container {
    position: relative;
  }
  .flex-wrap {
    padding-top: rem(8px);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
}

.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  @include phones {
    justify-content: center;
  }
  &__item:not(:last-child) {
    margin-right: rem(37px);
  }
  &__link {
    position: relative;
    opacity: 0.6;
    color: $text-color2;
    text-transform: uppercase;
    font-size: rem(14px);
    font-weight: 600;
    &::after {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 0;
      opacity: 0;
      display: block;
      width: 100%;
      height: 4px;
      background: $gradient;
      @include laptop {
        bottom: -24px;
      }
      @include phones {
        bottom: -11px;
      }
    }
    &:hover, &:focus {
      opacity: 1;
    }
    &_current {
      opacity: 1;
      &::after {
        opacity: 1;
      }
    }
  }
}

.profile {
  width: 290px;
  display: flex;
  justify-content: space-between;
  @include tablets {
    width: 250px;
  }
}

.profile-info {
  position: relative;
  width: 177px;
  padding: 0 rem(22px) 0 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablets {
    width: 150px;
  }
  &__name {
    font-size: rem(16px);
    letter-spacing: rem(-0.5px);
  }
  &__photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    opacity: 0;
    &:checked {
      & ~ .profile-menu {
        opacity: 1;
        display: block;
      }
    }
    & ~ label {
      position: absolute;
      right: -6px;
      display: block;
      width: 16px;
      height: 16px;
      cursor: pointer;
      background: url("../assets/img/arrow-icon.svg") center / cover no-repeat;
      &:hover, &:focus {
        transform: scale(1.2);
      }
    }
  }
}

.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  display: none;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(#000, .2);
  @include phones {
    top: 40px;
  }
  &__link {
    position: relative;
    display: block;
    padding: rem(8px) rem(15px);
    font-weight: 600;
    color: $text-color2;
    &:hover, &:focus {
      background-color: $active-menu-link;
    }
  }
}

.options {
  position: relative;
  right: -5px;
  display: flex;
  align-items: center;
  &__link {
    display: block;
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &_notification {
      background: url("../assets/img/bell-icon.svg") center / auto no-repeat;
    }
    &_share {
      background: url("../assets/img/share-icon.svg") center / auto no-repeat;
    }
    &_medium {
      background: url("../assets/img/medium-icon.svg") center / auto no-repeat;
    }
  }
}

.add-btn {
  position: absolute;
  right: 15px;
  bottom: -52px;
  width: 64px;
  height: 64px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: url("../assets/img/plus-icon.svg") center / auto no-repeat, $gradient;
  transition: all 0.3s ease;
  &:hover, &:focus {
    box-shadow: 0 0 5px #F16161;
  }
  @include tablets {
    width: 50px;
    height: 50px;
  }
}
