.news {
  position: relative;
  right: -12px;
  width: calc(100% - 350px);
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 146px;
  &::before {
    content: '';
    position: fixed;
    top: 110px;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 120px;
    background-color: $bg-color;
    box-shadow: 0 10px 10px $bg-color;
    @include tablets {
      display: none;
    }
  }
  @include desktop {
    right: 0;
    justify-content: center;
  }
  @include tablets {
    width: 100%;
    padding: 20px;
  }
}

.news-card {
  position: relative;
  width: 374px;
  height: 280px;
  margin: rem(12px);
  padding: rem(24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
  }
  &:focus {
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.12);
  }
  @include tablets {
    margin: 0 0 12px;
    max-width: 320px;
    height: 220px;
  }
  &__title {
    position: absolute;
    top: 44%;
    max-width: 87%;
    transform: translateY(-50%);
    color: $text-color2;
    font-family: $secondary-font;
    font-size: rem(36px);
    line-height: rem(44px);
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user {
    display: flex;
    align-items: center;
    color: $text-color2;
    &:hover, &:focus {
      color: darken($text-color2, 25%);
    }
  }
  &__ref {
    font-size: rem(16px);
    line-height: rem(22px);
    letter-spacing: 0.25px;
    @include phones {
      letter-spacing: normal;
    }
    &-link {
      position: relative;
      color: $text-color2;

      &_hash {
        padding: 0 4px;
        border-radius: 6px;
        background-color: $active-menu-link;
        @include phones {
          width: max-content;
        }
      }

      &_icon {
        padding-left: 23px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          background: url("../assets/img/link-icon.svg") center / cover no-repeat;
        }
      }
    }
  }
  &__user-photo {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #B2B3BB;
  }
  &__user-name {
    font-size: rem(14px);
    font-weight: 600;
    line-height: rem(19px);
  }
  &__share-btn {
    padding: 0;
    font-family: $main-font;
    font-size: rem(18px);
    line-height: rem(25px);
    border: none;
    color: $orange;
    background: none;
    cursor: pointer;
    &:hover, &:focus {
      color: darken($orange, 15%)
    }
  }
  &__count {
    position: relative;
    font-size: rem(14px);
    line-height: rem(19px);
    &:not(:first-child) {
      margin-left: rem(35px);
    }
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: rem(-23px);
      width: 16px;
      height: 16px;
      @include tablets {
        width: 11px;
        height: 11px;
      }
    }
    &_views::before {
      background: url("../assets/img/view-icon.svg") center / auto no-repeat;
      @include tablets {
        background-size: contain;
      }
    }
    &_likes::before {
      background: url("../assets/img/like-icon.svg") center / auto no-repeat;
      @include tablets {
        background-size: contain;
      }
    }
  }
}
