html {
	font-size: 16px;

	@include desktop {
		font-size: 16px;
	}

	@include laptop {
		font-size: 14px;
	}

	@include tablets {
		font-size: 13px;
	}

	@include phones {
		font-size: 12px;
	}
}

body {
	font-family: $main-font;
	line-height: 1.42;
  color: $text-color1;
}

html, body {
	width: 100%;
	height: 100%;
	max-width: 100%;
  overflow-x: hidden;
}

* {
	box-sizing: border-box;
  outline: none;
}

.container {
  box-sizing: content-box;
	max-width: $container-width;
	padding: 0 rem(15px);
	margin: 0 auto;
	@include desktop {
		max-width: 960px;
	}
	@include laptop {
		max-width: 720px;
	}
	@include tablets {
		max-width: 540px;
	}
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}


p {
	margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
	transition: all .6s ease;
  text-decoration: none;
}

.app {
  min-height: 100vh;
  background: $bg-color;
}

.main {
  padding-top: 112px;
}
